
body{
    display: block;
    height: 120vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0d2d42, #23032f);
    font-family: 'Syne', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Krona One', sans-serif;
}
h1{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    position: relative;
}
h3{
    text-align: center;
    margin-top: 2rem;
}
table{
    margin: 1rem auto;
    background-color: white;
    margin-top: 1rem;
}
table, td, tr{
    border: 1px solid rgb(94, 0, 216);
    /* border-collapse: collapse; */
    font-weight: bold;
}
th, td{
    padding: 12px;
}

th{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
    font-size: 20px; }

span{
    color: #fff;
}

::-webkit-scrollbar{
width: .6rem;
border-radius: .5rem;
background-color: rgb(30, 19, 61);
}

::-webkit-scrollbar-thumb{
background-color: rgb(81, 48, 163);
border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
background-color: rgb(225, 225, 225);
}

.table{
    border: 6px solid rgb(144, 66, 248);
    border-radius: 10px;
    background-image: linear-gradient(135deg, rgb(246, 173, 185), rgb(58, 0, 109));
    transition: all 400ms ease;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.table:hover{
    transform: scale(0.5px);
}

.form{
    max-width: 400px;
    width: 100%;
    margin-top: 2rem;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
}

.form form .form-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* form .form-details .input-box {
    width: calc(100% - / 2 - 20px);
} */

.form-details .label input {
    height: 25px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    color: rgb(41, 5, 88);
}

.reservar input{
    margin-left: 40%;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(41, 5, 88);
}

.comprar input{
    margin-left: 42%;
    border-radius: 50%;
    cursor: pointer;
}

.liberar input{
    margin-left: 45.5%;
    border-radius: 50%;
    cursor: pointer;
}

form .button {
    height: 45px;
    width: 2rem;
    margin: 20px;
    
}

.button input {
    display: inline-block;
    height: 90%;
    width: 8rem;
    background-color: rgb(138, 78, 216);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    margin-left: 6.5rem;
    cursor: pointer;
    transition: .3s;
}

.button input:hover{
    transform: translateY(-.25rem);
}

.n-filas{
    background-image: linear-gradient(135deg, rgb(246, 173, 185), rgb(58, 0, 109));
}

.silla{
    background-color: white;
    color: black;
}